In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import pickle

In [3]:
df_purch = pd.read_csv('purchase data.csv')

In [4]:
df_purch.head()

          ID  Day  Incidence  ...  Income  Occupation  Settlement size
0  200000001    1          0  ...  110866           1                0
1  200000001   11          0  ...  110866           1                0
2  200000001   12          0  ...  110866           1                0
3  200000001   16          0  ...  110866           1                0
4  200000001   18          0  ...  110866           1                0

[5 rows x 24 columns]

In [5]:
df_purch.describe()

                 ID           Day  ...    Occupation  Settlement size
count  5.869300e+04  58693.000000  ...  58693.000000     58693.000000
mean   2.000003e+08    349.431074  ...      0.774198         0.655904
std    1.443167e+02    212.045058  ...      0.663247         0.794162
min    2.000000e+08      1.000000  ...      0.000000         0.000000
25%    2.000001e+08    161.000000  ...      0.000000         0.000000
50%    2.000003e+08    343.000000  ...      1.000000         0.000000
75%    2.000004e+08    530.000000  ...      1.000000         1.000000
max    2.000005e+08    730.000000  ...      2.000000         2.000000

[8 rows x 24 columns]

In [6]:
df_purch.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58693 entries, 0 to 58692
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 58693 non-null  int64
 1   Day                58693 non-null  int64
 2   Incidence          58693 non-null  int64
 3   Brand              58693 non-null  int64
 4   Quantity           58693 non-null  int64
 5   Last_Inc_Brand     58693 non-null  int64
 6   Last_Inc_Quantity  58693 non-null  int64
 7   Price_1            58693 non-null  float64
 8   Price_2            58693 non-null  float64
 9   Price_3            58693 non-null  float64
 10  Price_4            58693 non-null  float64
 11  Price_5            58693 non-null  float64
 12  Promotion_1        58693 non-null  int64
 13  Promotion_2        58693 non-null  int64
 14  Promotion_3        58693 non-null  int64
 15  Promotion_4        58693 non-null  int64
 16  Promotion_5        58693 non-null  int64
 17  Sex                58693 non-null  int64
 18  Marital status     58693 non-null  int64
 19  Age                58693 non-null  int64
 20  Education          58693 non-null  int64
 21  Income             58693 non-null  int64
 22  Occupation         58693 non-null  int64
 23  Settlement size    58693 non-null  int64
dtypes: float64(5), int64(19)
memory usage: 10.7 MB

In [7]:
df_purch.isnull().sum()

ID                   0
Day                  0
Incidence            0
Brand                0
Quantity             0
Last_Inc_Brand       0
Last_Inc_Quantity    0
Price_1              0
Price_2              0
Price_3              0
Price_4              0
Price_5              0
Promotion_1          0
Promotion_2          0
Promotion_3          0
Promotion_4          0
Promotion_5          0
Sex                  0
Marital status       0
Age                  0
Education            0
Income               0
Occupation           0
Settlement size      0
dtype: int64

DATA SEGMENATION

In [10]:
scaler = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/scaler.pickle', 'rb'))

In [11]:
pca = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/pca.pickle', 'rb'))

In [12]:
kmeans_pca = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/kmeans_pca.pickle', 'rb'))